#btnRefresh {
    background-color: black;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    border-color: white;
}