.cabecalho {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(158, 45, 42);
    color: white;
    padding: 0px;
    text-align: center;
}

.cabecalho ol {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.cabecalho ol a {
    color: white;
    text-decoration: 0;
    border-color: blueviolet;
}
.cabecalho ol a:hover {
    background-color: rgb(95, 25, 22);
}

.cabecalho a {
    width: 99%;
    padding: 15px;
}